#############################
# Repository ignore strategy
#############################

# Global rules live here.
# Prefer short, commented sections.

#############################
# Editors & IDEs
#############################

.vscode/

#############################
# Build files
#############################

############################
# Environment files
############################

.env*
!.env.example